
#header{
    background-color: gray;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: 'Hubballi', cursive;
    
}

h1, h2, h3{
    text-transform: uppercase;
}
#nameAndTitle{
    background-color: white;
    width: 500px;
    margin: 0 auto;
    text-align: center;
}

#nameAndTitle h1, h2{
    margin: 0;
}

#contact{
    list-style: none;
}

#contact i{
    width: 30px;
    color: grey;
}